.page-wrap {
  min-height: 100vh;
}

.tabs-form-wrap {
  width: 50%;
}
.form-wrap {
  width: 50%;
}

.tabs-form-wrap .form-card {
  max-width: 600px;
  width: 100%;
  margin-right: 30px;
}

.tabs-form-wrap .form-card .card-title {
  color: var(--gray);
}

.login-greeting-screen {
  background: var(--teal);
  width: 50%;
  padding: 20px;
}

.login-greeting-screen .login-greeting-screen-text {
  max-width: 500px;
}

.login-greeting-screen .login-greeting-screen-text {
  color: var(--white);
}

.login-greeting-screen .login-greeting-screen-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.login-greeting-screen .login-greeting-screen-description {
  line-height: 1.4;
}

#signUpForm {
  display: grid;

  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  gap: 10px;
}
